body {
    background-color: antiquewhite;
}

.header {
    margin: -8px -8px 10px -8px;
    text-align: center;
    display: flex;
    background-color: burlywood;
    padding: 2px;
    border: 3px solid burlywood;
    justify-content: space-between;
    height: 35px;
}

h1 {
    margin-top: 4px;
    margin-left: 35px;
    font-size: 130%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 a {
    text-decoration: none;
}

h1 a:link, h1 a:visited, h1 a:hover, h1 a:active {
    color: black;
}

ul {
    margin-top: 6px;
    margin-right: 35px;
    display: inline-flex;
    list-style-type: none;
    justify-content: flex-start;
}

li {
    display: flex;
    margin-left: 10px;
    font-size: 110%;
}

li a {
    text-decoration: none;
}

li a:link, li a:visited {
    color: #2f6534;
}

li a:hover {
    color: #13347e;
    cursor: pointer;
}

li a:active {
    color: #1442c1;
}

#myText {
    margin-top: 2px;
    width: 400px;
    height: 25px;
}

#intro {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

#demo {
    text-align: center; 
}

.context {
    display: flex;
}

#img {
    margin: 10px;
    padding: 5px;
}

#details {
    margin: 10px;
    padding: 5px;
}

#Page {
    margin-left: 15px;
}

button {
    background-color: rgb(13, 92, 23);
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    cursor: pointer;
    width: 15%; 
}

button:hover {
    opacity: 0.8;
}

/* css for forms */
.container {
    margin: 0 auto;
    width: 50%;
    padding: 16px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
  
.modalbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
.modalbtn:hover {
    opacity: 0.8;
}

.already {
    text-align: center;
}

.already a:link, .already a:visited {
    color: #1442c1;
}

.already a:hover {
    color: #ff3838;
    cursor: pointer;
}

.already a:active {
    color: #ff1815;
}

/* breakpoints */
@media only screen and (max-width: 800px) {
    #myText {
        width: 250px;
    }

    .container {
        width: 75%;
    }
}

@media only screen and (max-width: 650px) {
    .context {
        display: block;
        padding-left: 30px;
    }

    button {
        width: 30%;
    }

    .header {
       width: 100%;
    }
    
    h1 {
        margin-left: 0;
        margin-top: 3px;
        font-size: 110%;
    }

    ul {
        margin-top: 6px;
        margin-right: 35px;
        display: inline-flex;
        list-style-type: none;
        justify-content: flex-start;
    }
    
    li {
        display: flex;
        margin-left: 10px;
        font-size: 110%
    }
    
    #myText {
        width: 170px;
    }

    .container {
        width: 100%;
    }
}   
