<!DOCTYPE HTML>

<html lang = "en">
    <head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src = "/javascript/script.js"></script>
		<script src = "/javascript/login.js"></script>
		<script src = "/javascript/register.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
		<meta charset = "utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title> Movies Info </title>
    </head>

	<body>
		<div class = "header"> 
			<h1>Movies Info</h1>   
			<input type="text" id="myText" placeholder="Search for a movie..." onkeyup="mainFunction()">
			<ul>
				<li onclick="document.getElementById('log').style.display='block'" style="width:auto;">Login</li>
				<li onclick="document.getElementById('reg').style.display='block'" style="width:auto;">Register</li>
			</ul>
		</div>
		
		<div id="intro">
			<h2>Here you can find any movie you desire.</h2>
		</div>
		
		<div id="demo"></div>
		
		<div class="contex">
			<div id="img"></div>
			<div id="details"></div>
		</div>
	
		<div id="Page"></div>

		<div id="log" class="modal">	
			<form class="modal-content animate" action="/javascript/login.js" method="post">
				<div class="cancelcontainer">
					<span onclick="document.getElementById('log').style.display='none'" class="close" title="Close">&times;</span>
				</div>

				<div class="container">
					<label for="email_log"><b>Email</b></label>
					<input type="text" placeholder="Enter Email" id="email_log" name="email" required>

					<label for="psw_log"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" id="psw_log" name="password" required>
						
					<button class="modalbtn" type="submit">Login</button>
				</div>
			</form>
		</div>

		<div id="reg" class="modal">			
			<form class="modal-content animate" action="/javascript/register.js"  method="post">
				<div class="cancelcontainer">
					<span onclick="document.getElementById('reg').style.display='none'" class="close" title="Close">&times;</span>
				</div>

				<div class="container">
					<label for="email_reg"><b>Email</b></label>
					<input type="text" placeholder="Enter Email" id="email_reg" name="email" required>
			
					<label for="psw_reg"><b>Password</b></label>
					<input type="password" placeholder="Enter Password" id="psw_reg" name="password" required>
			
					<label for="psw-repeat"><b>Confirm Password</b></label>
					<input type="password" placeholder="Repeat Password" id="psw-repeat" name="password" required>
								
					<p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

					<button  class="modalbtn" type="submit">Register</button>					
				</div>
			</form>
		</div>
	</body>
</html>