<!DOCTYPE html>

<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src = "/javascript/script.js"></script>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />
        <meta charset = "utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Register</title>
    </head>

    <body>
        <div class = "header">
            <h1>Movies Info</h1>
            <input type="text" id="myText" placeholder="Search for a movie..." onkeyup="mainFunction()">
            <ul>
                <li> <a href="http://localhost:8080/login">Login</a> </li>
                <li> <a href="http://localhost:8080/register">Register</a></li>
            </ul>
        </div>

        <form class="modal-content animate" action="http://localhost:8080/register"  method="post" enctype="application/json">
            <div class="container">
                <label for="email_reg"><b>Email</b></label>
                <input type="text" placeholder="Enter Email" id="email_reg" name="email" required>

                <label for="psw_reg"><b>Password</b></label>
                <input type="password" placeholder="Enter Password" id="psw_reg" name="password" required>

                <label for="psw-repeat"><b>Confirm Password</b></label>
                <input type="password" placeholder="Repeat Password" id="psw-repeat" name="password2" required>

                <p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

                <button id="btn" class="modalbtn" type="submit" onclick="register(email, password, password2)">Register</button>
            </div>
        </form>

    </body>
</html>